<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flor Lucia</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="public/img/icon.jpg" type="image/jgp">
</head>
<body>
    <!-- Header / Encabezado -->
    <header>
        <div>
            <h1>Flor Lucia</h1>
            <p>Indumentaria</p>
        </div>
    </header>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="../views/Productos.html">PRODUCTOS</a>
        <a href="">CONTACTO</a>
        <a href="../views/Registro.html">REGISTRO</a>
    </nav>
    <main>
        <article>
        <!-- Apartado contacto -->
            <h2>CONTACTO</h2>
            <section class="UL">
                <ul class="producto">
                    <p>Encontranos en San Rafael Mendoza</p>
                    <p>Para comunicarte por WhatsApp nuestro número es: 2604048615</p>
                    <p>Comunicate también a nuestro correo electrónico: popiflorencia@yahoo.com.ar</p>
                    <a href="tel:+2604048615" class="Contacto">WhatsApp</a>
                    <a href="mailto: popiflorencia@yahoo.com.ar" class="Contacto">Correo Electrónico</a>
                    <a href="http://www.google.com.ar/maps/place/Buenos+Aires+100,+M5600FYZ+San+Rafael,+Mendoza/@-34.6133963,-68.3368555,17z/data=!3m1!4b1!4m5!3m4!1s0x96790807f65f667d:0x7aed942a3dfd183c!8m2!3d-34.6134007!4d-68.3342806?entry=ttu" class="Contacto">Dirección</a>
                </ul>
            </section>
        </article>
    </main>
    <!-- FOOTER -->
    <footer>
        <p>&copy; Copyright Flor Lucia - 27449846457 - 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
