<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flor Lucia</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.jpg" type="image/jgp">
</head>
<body>
    <!-- Header / Encabezado -->
    <header>
        <div>
            <h1>Flor Lucia</h1>
            <p>Indumentaria</p>
        </div>
    </header>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="">PRODUCTOS</a>
        <a href="../views/Contacto.html">CONTACTO</a>
        <a href="../views/Registro.html">REGISTRO</a>
    </nav>
    <main>
        <article>
        <!--Productos / Parte Principal -->
            <h2>TOPS</h2>
            <section class="UL">
                <ul class="producto">
                    <img src="../img/tops.png" alt="tops">
                    <p>Top Regi $8000</p>
                    <a href="" class="AgregarCarrito">Agregar al carrito</a>
                </ul>
                <ul class="producto">
                    <img src="../img/tops2.png" alt="tops2">
                    <p>Top Vale $7500</p>
                    <a href="" class="AgregarCarrito">Agregar al carrito</a>
                </ul>
                <ul class="producto">
                    <img src="../img/tops3.png" alt="tops">
                    <p>Top Megan $8000</p>  
                    <a href="" class="AgregarCarrito">Agregar al carrito</a>
                </ul>
                <ul class="producto">
                    <img src="../img/tops4.png" alt="tops">
                    <p>Top Rosina $9000</p>  
                    <a href="" class="AgregarCarrito">Agregar al carrito</a>
                </ul>          
            </section>
            <h2>VESTIDOS</h2>
                <section class="UL">
                    <ul class="producto">
                        <img src="../img/Vestidos.png" alt="vestidos1">
                        <p>Vestido Rufi $12000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/Vestidos2.png" alt="vestidos2">
                        <p>Vestido Bult $8000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/vestidos4.png" alt="vestidos3">
                        <p>Vestido Shine $10000</p> 
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/vestidos3.png" alt="vestidos4">
                        <p>Vestido Importado $20000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>          
                </section>
            <h2>Jeans y shorts</h2>
                <section class="UL">
                    <ul class="producto">
                        <img src="../img/Shorts.png" alt="shorts">
                        <p>Short Lina $20000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/Jean.png" alt="jeans">
                        <p>Jean Roma $25000</p>
                        <a href="" class="AgregarCarrito" >Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/jeans2.png" alt="jeans">
                        <p>Jean Wide $24000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/shorts2.png" alt="shorts">
                        <p>Short Maca $16000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>          
                </section>
            <h2>Bodies y Corsets</h2>
                <section class="UL">
                    <ul class="producto">
                        <img src="../img/Bodys2.png" alt="bodys2">
                        <p>Body Limit $10000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/bodys.png" alt="bodys">
                        <p>Body Preta $12000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/corset.png" alt="jeans">
                        <p>Corset Rimini $10000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>
                    <ul class="producto">
                        <img src="../img/bodys3.png" alt="shorts">
                        <p>Body Kali $15000</p>
                        <a href="" class="AgregarCarrito">Agregar al carrito</a>
                    </ul>          
                </section>
        </article>
    <!-- FOOTER -->
    <footer>
        <p>&copy; Copyright Flor Lucia - 27449846457 - 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
