<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flor Lucia</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="public/img/icon.jpg" type="image/jgp">
</head>
<body>
    <!-- Header / Encabezado -->
    <header>
        <div>
            <h1>Flor Lucia</h1>
            <p>Indumentaria</p>
        </div>
    </header>
    <!-- Barra de navegación -->
    <nav class="navbar">
        <a href="../../index.html">INICIO</a>
        <a href="../views/Productos.html">PRODUCTOS</a>
        <a href="../views/Contacto.html">CONTACTO</a>
        <a href="">REGISTRO</a>
    </nav>
        <!-- formulario -->
        <form action="">
            <fieldset>
                <legend>Formulario de Registro</legend>
                <div class="formulario">
                    <label for="Nombre">Nombre</label>
                    <input type="Texto" name="Nombre" id="Nombre" required>
                </div>
                <div class="formulario">
                    <label for="Apellido">Apellido</label>
                    <input type="Texto" name="Apellido" id="Apellido" required>
                </div>
                <div class="formulario">
                    <label for="Mail">Email</label>
                    <input type="Mail" name="Mail" id="Mail" required>
                </div>
                <div class="formulario">
                    <label for="Contraseña">Contraseña</label>
                    <input type="Contraseña" name="Contraseña" id="Contraseña" required>
                </div>
                <div class="formulario">
                    <label for="Fecha">Fecha de Nacimiento</label>
                    <input type="Fecha" name="Fecha" id="Fecha">
                </div>
                <div class="formularioFinal">
                    <input type="Registrarse" value="Registrarse">
                    <input type="Borrar" value="Borrar">
                </div>
            </fieldset>
        </form>
        <!-- FOOTER -->
    <footer>
        <p>&copy; Copyright Flor Lucia - 27449846457 - 2024. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
